:root {
    --bg: #0c0c0f;
    --surface: #141419;
    --surface-light: #1b1b22;
    --border: #2b2b35;

    --text: #f4f4f5;
    --muted: #858592;

    --purple: #a855f7;
    --purple-light: #c084fc;

    --lime: #c8ff36;
    --cyan: #35d9ff;

    --danger: #ff6b8a;

    --radius: 18px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body {
    background: var(--bg);
    color: var(--text);

    font-family: "DM Sans", sans-serif;

    min-height: 100vh;
}


button,
input {
    font: inherit;
}


button {
    border: none;
    cursor: pointer;
}


a {
    color: inherit;
    text-decoration: none;
}


/* =========================
   APP LAYOUT
========================= */

.app {
    display: flex;
    min-height: 100vh;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    width: 250px;

    position: fixed;
    inset: 0 auto 0 0;

    display: flex;
    flex-direction: column;

    padding: 28px 18px;

    background: #101014;

    border-right: 1px solid var(--border);
}


/* BRAND */

.brand {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 0 10px;

    margin-bottom: 50px;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 19px;
}


.brand-mark {
    width: 36px;
    height: 36px;

    display: grid;
    place-items: center;

    background: var(--lime);
    color: #0c0c0f;

    border-radius: 10px;

    font-size: 12px;
    font-weight: 800;

    transform: rotate(-5deg);
}


/* NAV */

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.nav-label {
    color: #555560;

    font-size: 10px;
    font-weight: 700;

    letter-spacing: 1.5px;

    margin: 0 10px 10px;

    margin-top: 15px;
}


.nav-item {
    display: flex;
    align-items: center;
    gap: 13px;

    padding: 12px;

    border-radius: 10px;

    color: var(--muted);

    font-size: 14px;
    font-weight: 500;

    transition: .2s ease;
}


.nav-item:hover {
    color: white;
    background: var(--surface-light);
}


.nav-item.active {
    color: #111;

    background: var(--lime);

    font-weight: 700;

    box-shadow: 4px 4px 0 #596d18;
}


.icon {
    width: 20px;

    text-align: center;

    font-size: 16px;
}


/* SIDEBAR BOTTOM */

.sidebar-bottom {
    margin-top: auto;
}


/* UPGRADE */

.upgrade-card {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 13px;

    margin-bottom: 15px;

    background: #19151f;

    border: 1px solid #362345;

    border-radius: 14px;
}


.upgrade-icon {
    color: var(--purple-light);

    font-size: 22px;
}


.upgrade-card strong {
    display: block;
    font-size: 12px;
}


.upgrade-card p {
    color: var(--muted);
    font-size: 10px;

    margin-top: 3px;
}


.upgrade-card button {
    margin-left: auto;

    width: 25px;
    height: 25px;

    background: var(--purple);

    color: white;

    border-radius: 7px;
}


/* USER */

.user-mini {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px;

    border-top: 1px solid var(--border);

    padding-top: 18px;
}


.avatar {
    width: 34px;
    height: 34px;

    display: grid;
    place-items: center;

    background: var(--purple);

    border-radius: 50%;

    font-size: 11px;
    font-weight: 700;
}


.user-mini strong {
    display: block;

    font-size: 12px;
}


.user-mini span {
    color: var(--muted);

    font-size: 10px;
}


.user-mini button {
    margin-left: auto;

    background: none;
    color: var(--muted);
}


/* =========================
   MAIN
========================= */

.main {
    margin-left: 250px;

    width: calc(100% - 250px);

    padding: 38px 45px 60px;
}


/* =========================
   TOPBAR
========================= */

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 55px;
}


.eyebrow {
    color: var(--muted);

    font-size: 10px;
    font-weight: 700;

    letter-spacing: 1.7px;

    margin-bottom: 8px;
}


h1,
h2,
h3 {
    font-family: "Space Grotesk", sans-serif;
}


h1 {
    font-size: clamp(25px, 3vw, 36px);
    letter-spacing: -1.5px;
}


h1 span {
    color: var(--lime);
}


.top-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* SEARCH */

.search {
    height: 42px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 12px;

    background: var(--surface);

    border: 1px solid var(--border);

    border-radius: 10px;
}


.search>span {
    color: var(--muted);

    font-size: 22px;
}


.search input {
    width: 150px;

    background: none;

    border: none;

    color: white;

    font-size: 12px;
}


.search input::placeholder {
    color: #666671;
}


kbd {
    padding: 3px 6px;

    color: #777782;

    border: 1px solid var(--border);

    border-radius: 5px;

    font-size: 9px;
}


/* NOTIFICATION */

.notification {
    position: relative;

    width: 42px;
    height: 42px;

    background: var(--surface);

    color: white;

    border: 1px solid var(--border);

    border-radius: 10px;
}


.notification span {
    position: absolute;

    width: 6px;
    height: 6px;

    top: 9px;
    right: 9px;

    background: var(--purple);

    border-radius: 50%;
}


/* CREATE */

.create-btn {
    height: 42px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 16px;

    background: var(--lime);
    color: #101010;

    border-radius: 10px;

    font-size: 12px;
    font-weight: 700;

    box-shadow: 4px 4px 0 #5c701a;

    transition: .15s ease;
}


.create-btn:hover {
    transform: translate(2px, 2px);

    box-shadow: 2px 2px 0 #5c701a;
}


.create-btn b {
    font-size: 18px;
}


/* =========================
   OVERVIEW
========================= */

.section-heading {
    display: flex;
    align-items: end;
    justify-content: space-between;

    margin-bottom: 20px;
}


h2 {
    font-size: 20px;
    letter-spacing: -.5px;
}


.date-filter {
    padding: 9px 12px;

    background: var(--surface);

    color: var(--muted);

    border: 1px solid var(--border);

    border-radius: 8px;

    font-size: 11px;
}


/* =========================
   STATS
========================= */

.stats-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 14px;

    margin-bottom: 20px;
}


.stat-card {
    min-height: 145px;

    padding: 20px;

    background: rgba(255, 255, 255, .025);

    border: 1px solid var(--border);

    border-radius: var(--radius);

    backdrop-filter: blur(10px);

    transition: .2s ease;
}


.stat-card:hover {
    transform: translateY(-3px);

    border-color: #41414d;
}


.stat-card.purple {
    background: #1b1424;

    border-color: #3d2850;
}


.stat-card.lime {
    background: #181d0d;

    border-color: #384516;
}


.stat-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--muted);

    font-size: 11px;
}


.stat-icon {
    width: 28px;
    height: 28px;

    display: grid;
    place-items: center;

    border: 1px solid var(--border);

    border-radius: 8px;

    color: white;
}


.stat-card>strong {
    display: block;

    margin-top: 20px;

    font-family: "Space Grotesk";

    font-size: 30px;
}


.stat-bottom {
    display: flex;
    gap: 7px;

    margin-top: 8px;

    color: #666671;

    font-size: 10px;
}


.positive {
    color: var(--lime);
    font-weight: 700;
}


.neutral {
    color: var(--cyan);
}


/* =========================
   DASHBOARD GRID
========================= */

.dashboard-grid {
    display: grid;

    grid-template-columns: 1.5fr 1fr;

    gap: 15px;
}


.panel {
    padding: 22px;

    background: rgba(255, 255, 255, .025);

    border: 1px solid var(--border);

    border-radius: var(--radius);

    backdrop-filter: blur(12px);
}


.panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 25px;
}


.panel-header>a {
    color: var(--purple-light);

    font-size: 11px;
}


/* EVENTS */

.event-list {
    display: flex;
    flex-direction: column;
}


.event {
    display: grid;

    grid-template-columns: 55px 1fr auto 25px;

    align-items: center;

    gap: 15px;

    padding: 15px 0;

    border-bottom: 1px solid #22222a;
}


.event:last-child {
    border-bottom: none;
}


.event-date {
    width: 48px;
    height: 52px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--surface-light);

    border-radius: 10px;
}


.event-date span {
    color: var(--purple-light);

    font-size: 8px;
    font-weight: 700;
}


.event-date strong {
    font-family: "Space Grotesk";

    font-size: 19px;
}


.event-info h3 {
    font-size: 13px;

    margin-bottom: 5px;
}


.event-info p {
    color: var(--muted);

    font-size: 10px;
}


.event-status {
    text-align: right;
}


.event-status strong {
    display: block;

    margin-top: 5px;

    color: var(--muted);

    font-size: 9px;
}


.status {
    padding: 4px 7px;

    border-radius: 5px;

    font-size: 8px;
    font-weight: 700;
}


.status.live {
    color: var(--lime);

    background: #27300f;
}


.status.upcoming {
    color: var(--cyan);

    background: #0e292f;
}


.status.draft {
    color: #aaa;

    background: #25252b;
}


.more {
    background: none;

    color: var(--muted);

    letter-spacing: 2px;
}


/* =========================
   ACTIVITY
========================= */

.activity-list {
    display: flex;
    flex-direction: column;

    gap: 20px;
}


.activity {
    display: flex;
    align-items: center;

    gap: 12px;
}


.activity-icon {
    width: 36px;
    height: 36px;

    display: grid;
    place-items: center;

    border-radius: 10px;

    font-size: 14px;
}


.purple-bg {
    background: #271936;
    color: var(--purple-light);
}


.lime-bg {
    background: #29330f;
    color: var(--lime);
}


.cyan-bg {
    background: #0d2930;
    color: var(--cyan);
}


.activity>div:nth-child(2) {
    flex: 1;
}


.activity strong {
    display: block;

    font-size: 11px;
}


.activity p {
    color: var(--muted);

    font-size: 9px;

    margin-top: 3px;
}


.activity span {
    display: block;

    color: #55555f;

    font-size: 8px;

    margin-top: 3px;
}


.activity>b {
    color: var(--lime);

    font-size: 11px;
}


/* =========================
   CHART
========================= */

.chart-panel {
    min-height: 290px;
}


.chart-value {
    text-align: right;
}


.chart-value strong {
    font-family: "Space Grotesk";

    font-size: 22px;
}


.chart-value span {
    display: block;

    color: var(--muted);

    font-size: 9px;
}


.fake-chart {
    position: relative;

    height: 145px;

    margin-top: 15px;
}


.chart-lines {
    position: absolute;

    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.chart-lines span {
    width: 100%;

    border-top: 1px dashed #292930;
}


.chart-bars {
    position: absolute;

    inset: 0;

    display: flex;
    align-items: end;

    justify-content: space-around;

    padding: 0 10px;
}


.chart-bars i {
    width: 7%;

    min-height: 10px;

    background: var(--purple);

    border-radius: 5px 5px 0 0;

    opacity: .8;
}


.chart-bars i:nth-child(8),
.chart-bars i:nth-child(10) {
    background: var(--lime);
}


.chart-labels {
    display: flex;
    justify-content: space-between;

    color: #55555f;

    font-size: 8px;

    margin-top: 10px;
}


/* =========================
   QUICK ACTIONS
========================= */

.quick-actions {
    display: flex;
    flex-direction: column;

    gap: 8px;
}


.quick-actions button {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px;

    text-align: left;

    background: var(--surface);

    border: 1px solid var(--border);

    border-radius: 10px;

    color: white;

    transition: .2s ease;
}


.quick-actions button:hover {
    border-color: var(--purple);

    transform: translateX(3px);
}


.quick-actions button>span {
    width: 34px;
    height: 34px;

    display: grid;
    place-items: center;

    background: var(--surface-light);

    border-radius: 8px;

    color: var(--lime);

    font-size: 18px;
}


.quick-actions strong {
    display: block;

    font-size: 11px;
}


.quick-actions small {
    display: block;

    color: var(--muted);

    font-size: 8px;

    margin-top: 3px;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1100px) {

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 800px) {

    .sidebar {
        width: 70px;

        padding: 20px 10px;
    }

    .brand span,
    .nav-item:not(.active)::after,
    .nav-item,
    .nav-label,
    .upgrade-card,
    .user-mini>div:not(.avatar),
    .user-mini button {
        font-size: 0;
    }

    .brand {
        justify-content: center;
    }

    .nav-item {
        justify-content: center;
    }

    .main {
        margin-left: 70px;

        width: calc(100% - 70px);

        padding: 25px 20px;
    }

    .topbar {
        align-items: flex-start;
        flex-direction: column;

        gap: 20px;
    }

    .top-actions {
        width: 100%;
    }

    .search {
        flex: 1;
    }

}


@media (max-width: 600px) {

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .search kbd {
        display: none;
    }

    .create-btn {
        font-size: 0;
        padding: 0 12px;
    }

    .create-btn b {
        font-size: 20px;
    }

    .event {
        grid-template-columns: 50px 1fr 20px;
    }

    .event-status {
        display: none;
    }

}